* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #c13c3c;
}

header {
    text-align: center;
    background-color: #d4dec3;
    width: 100%;
    height: 35vh;
    position: relative;
}

#logo {
    width: 180px;
    height: 203px;
    background-image: url(../../img/logo.png);
    background-size: cover;
}

#center-container {
    display: flex;
    position: absolute;
    top: 8vh;
    left: 30vw;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; 
}

#searchbox {
    margin-top: 2px;
    position: relative;
}

#search {
    height: 47px;
    width: 542px;
    border: none;
}

#search-button {
    position: absolute;
    background-color: #c13c3c;
    border: none;
    left: 28vw;
    width: 118px;
    height: 47px;
}
#home{
    position: absolute;
    top: 9vh;
    left: 75vw;
}
#home-button{
    height: 57px;
    width: 118px;
    background-color: #c13c3c;
    border: none;
}
#spoon{
    position: absolute;
    top: 18vh;
    left: 3vw;
    width: 183px;
    height: 149px;
    background-image: url(../../img/spoon.png);
    background-size: cover;
}
#fork{
    position: absolute;
    top: 14vh;
    left: 85vw;
    width: 183px;
    height: 200px;
    background-image: url(../../img/fork.png);
    background-size: cover;
}
#about{
    position: absolute;
    left: 16vw;
    top: 23vh;
    width: 70vw;
}
#middle{
    position: absolute;
    color: white;
    left: 30vw;
    top:38vh ;}
#special-container{
    border: 15px solid #b37f7f;
}
#myModal{
    display:none;
    position: absolute;
    top: 10vh;
    left: 18vw;
    height: 80vh;
    width: 60vw;
    background-color: #b37f7f;}
#backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    }
#thirdcontainer {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4,25vw);
    grid-row-gap: 10px;
    top: 90vh; 
    height: 40vh;
    width: 100vw;
    border: 1px solid black;
    background-color: #fff; 
    }
    
